node_exercise_01/node_modules
node_exercise_02/node_modules
node_exercise_03/node_modules
node_exercise_04/node_modules
node_exercise_05/node_modules
node_exercise_01/.env
node_exercise_02/.env
node_exercise_03/.env
node_exercise_04/.env
node_exercise_05/.env